.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;

  background-color: #2f4b8f;
}

.logo-icon {
  font-size: 20px;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.logout-btn {

  padding: 8px 14px;

  border: none;
  border-radius: 5px;

  background: white;
  color: #2f4b8f;

  cursor: pointer;

  font-weight: 600;
}

.logout-btn:hover {
  opacity: 0.9;
}