<aside class="sidebar">

  <ul>
    <li>
      <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon">📊</span>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/gastos" routerLinkActive="activo">
        <span class="icon">💸</span>
        Gastos
      </a>
    </li>
    <li>
      <a routerLink="/ingresos" routerLinkActive="activo">
        <span class="icon">💵</span>
        Ingresos
      </a>
    </li>
  </ul>
</aside>